li{
	display: inline-block;
	margin: 30px;
	padding: 0px;
	border-width: 14px
}	

h3{
	text-align: center;
	
	font-size: 30px;
	


}
ul{
	text-align: center;

}
body{
	background-color: black;
	}
button{
	text-align: center;
	font-size: 30px;
}	

h1{
	font-style: bold;
	text-align: center;
	border: solid;
	border-color: red;
	color: white;
	border-radius: 30%;
	border-style: dashed;

}

img{
	position: relative;
}body {
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
p.one{
	border:solid;
	color: white;
	position: left;
	border-color: red;
	border-width: thick;
}
p.two{
	border: dotted;
	padding: 40px;
	color: white;
	border-color: green;
	border-width: thick;
}
h3{
	color: white;
	font-size: 32px;

}